
body{
    
    background-color: #cbf6d4;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: rgb(204, 131, 22);
}
table{
    border-collapse: collapse;
    

}
th,td{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bolder;
    background-color: aqua;
    
}
th{
    background-color: blueviolet;
    color: whitesmoke;
}
